{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Courses | Education</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'user/img/favicon.icon' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/progressbar_barfiller.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
</head>

<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'user/img/logo/loder.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <!-- Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header ">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="index.html"><img src="{% static 'user/img/logo/logo.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">                                                                                          
                                            <li class="active" ><a href="{% url 'home' %}">Home</a></li>
                                            <li><a href="{% url 'latest_join_groups' %}">Latest Groups</a></li>
                                            <li><a href="{% url 'news_feeds' %}">News Feeds</a></li>
                                            <li><a href="{% url 'about' %}">About</a></li>
                                            <li><a href="{% url 'contact' %}">Contact</a></li>
                                            <!-- Button -->
                                            <li class="button-header  "><a href="{% url 'admin_login' %}" class="btn  btn3">Admin</a></li>
                                            <li class="button-header margin-left"><a href="{% url 'user_login' %}" class="btn">Login</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div> 
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <main>
        <!--? slider Area Start-->
        <section class="slider-area slider-area2">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-11 col-md-12">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="bounceIn" data-delay="0.2s">About us</h1>
                                    <!-- breadcrumb Start-->
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                            <li class="breadcrumb-item"><a href="#">about</a></li> 
                                        </ol>
                                    </nav>
                                    <!-- breadcrumb End -->
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </section>
        <div class="services-area services-area2 section-padding40">
            <div class="container">
                <div class="row justify-content-sm-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="{% static 'user/img/icon/icon1.svg' %}" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>60k+ Users Added Groups</h3>
                                <p>Everyday Users showing interest adding on groups.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="{% static 'user/img/icon/icon2.svg' %}" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>Expert instructors</h3>
                                <p>we introduce everyday new things.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="{% static 'user/img/icon/icon3.svg' %}" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>Life time access</h3>
                                <p>The automated process all your website tasks.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--? About Area-1 Start -->
        <section class="about-area1 fix pt-10">
            <div class="support-wrapper align-items-center">
                <div class="left-content1">
                    <div class="about-icon">
                        <img src="{% static 'user/img/icon/about.svg' %}" alt="">
                    </div>
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-55">
                        <div class="front-text">
                            <h2 class="">Learn new skills online with top educators</h2>
                            <p>The automated process all your website tasks. Discover tools and 
                                techniques to engage effectively with vulnerable children and young 
                            people.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static 'user/img/icon/right-icon.svg' %}" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Techniques to engage effectively with vulnerable children and young people.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static 'user/img/icon/right-icon.svg' %}" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Join millions of people from around the world  learning together.</p>
                        </div>
                    </div>

                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static 'user/img/icon/right-icon.svg' %}" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Join millions of people from around the world learning together. Online learning is as easy and natural.</p>
                        </div>
                    </div>
                </div>
                <div class="right-content1">
                    <!-- img -->
                    <div class="right-img">
                        <img src="{% static 'user/img/gallery/about2.png' %}" alt="">

                        <!-- <div class="video-icon" >
                            <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=up68UAfH0d0"><i class="fas fa-play"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        <!--? top subjects Area Start -->
        <div class="topic-area section-padding40">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <h2>Explore top Groups</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'user/img/gallery/topic1.png' %}" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="{% url 'news_feeds' %}">Entertaiment</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'user/img/gallery/topic2.png' %}" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="{% url 'news_feeds' %}">Sports</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'user/img/gallery/topic3.png' %}" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="{% url 'news_feeds' %}">Education</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'user/img/gallery/topic4.png' %}" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="{% url 'news_feeds' %}">Movies</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <!-- top subjects End -->
        <!--? About Area-3 Start -->
        <section class="about-area3 fix" style="margin-top:50px ;">
            <div class="support-wrapper align-items-center">
                <div class="right-content3">
                    <!-- img -->
                    <div class="right-img">
                        <img src="{% static 'user/img/gallery/about3.png' %}" alt="">
                    </div>
                </div>
                <div class="left-content3">
                    <!-- section tittle -->
                   <!-- section tittle -->
                   <div class="section-tittle section-tittle2 mb-20">
                    <div class="front-text">
                        <h2 class="">Take the next step
                            toward your personal
                            and professional Groups
                        with us.</h2>
                        <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.</p>
                        <a href="{% url 'user_registration' %}" class="btn">Join now for Free</a>
                    </div>
                </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        <!--? Team -->
        
        <!-- Services End -->
    </main>
    <footer>
     <div class="footer-wrappper footer-bg">
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo mb-25">
                                    <a href="index.html"><img src="{% static 'user/img/logo/logo2_footer.png' %}" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>The automated process starts as soon as your clothes go into the machine.</p>
                                    </div>
                                </div>
                                <!-- social -->
                                <div class="footer-social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50   ">
                            <div class="footer-tittle">
                                <h4>  </h4>
                                <ul >
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="news-feeds.html">Newsfeeds</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Footer End-->
      </div>
  </footer> 
  <!-- Scroll Up -->
  <div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<script src="{% static 'user/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'user/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'user/js/popper.min.js' %}"></script>
<script src="{% static 'user/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static 'user/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static 'user/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'user/js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static 'user/js/wow.min.js' %}"></script>
<script src="{% static 'user/js/animated.headline.js' %}"></script>
<script src="{% static 'user/js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src="{% static 'user/js/gijgo.min.js' %}"></script>
<!-- Nice-select, sticky -->
<script src="{% static 'user/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'user/js/jquery.sticky.js' %}"></script>
<!-- Progress -->
<script src="{% static 'user/js/jquery.barfiller.js' %}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{% static 'user/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'user/js/waypoints.min.js' %}"></script>
<script src="{% static 'user/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'user/js/hover-direction-snake.min.js' %}"></script>

<!-- contact js -->
<script src="{% static 'user/js/contact.js' %}"></script>
<script src="{% static 'user/js/jquery.form.js' %}"></script>
<script src="{% static 'user/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'user/js/mail-script.js' %}"></script>
<script src="{% static 'user/js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="{% static 'user/js/plugins.js' %}"></script>
<script src="{% static 'user/js/main.js' %}"></script>

</body>
</html>